/* COLORES */
.color-primary {
  color: #73b72b;
}
.color-secondary {
  color: #e72889;
}
.color-tertiary {
  color: #d8edec;
}
.color-white {
  color: white;
}
.color-lightDark {
  color: #9f9f9f;
}
.color-dark {
  color: #55524f;
}
.color-hardDark {
  color: #2e2e2e;
}
.color-flecha {
  color: #00B0F6;
}



.bgc-aqua {
  background-color: aqua;
}
.bgc-red {
  background-color: red;
}
.bgc-yellow {
  background-color: yellow;
}
.bgc-green {
  background-color: green;
}
.bgc-pink {
  background-color: pink;
}

.bgc-primary {
  background-color: #73b72b;
}

.bgc-secondary {
  background-color: #feecc8;
}

.bgc-tertiary {
  background-color: #d8edec;
}

.bgc-cuaternary {
  background-color: #ebd8e8;
}
/* BORDES */

.border-color-primary {
  border-color: #73b72b !important;
}
.border-color-hardDark {
  border-color: #2e2e2e !important;
}
.border-color-dark {
  border-color: #55524f !important;
}
.border-color-lightDark {
  border-color: #9f9f9f !important;
}
